/* For Mobile */
@media screen and (min-width:320px) {
    html {
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        font-family: 'Roboto', sans-serif;
        line-height: 25px;
        margin: auto;
    }

    header {
        background-color: black;
    }

    .logo-image {
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    nav ul,
    a {
        text-decoration: none;
        list-style: none;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #topnav {
        overflow: hidden;
        background-color: #020202;
        position: relative;
    }

    .fa-bars {
        display: none;
    }

    body {
        margin: 0px;
    }

    .Welcome {
        background-color: rgb(172, 172, 172);
    }

    .pq {
        display: none;
    }

    .nq {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        color: white;
        border-radius: 8px;
        padding: 9px;

    }

    .Questions {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        flex-direction: column;
    }

    .q {
        display: none;
    }

    .sep {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .question-buttons {
        margin-top: 20px;
    }

    #button {
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        border-radius: 10px;
        background-color: black;
    }

    #footer-container {
        background-color: black;
    }

    .footer-p {
        color: white;
        font: 30px;
    }

    .socialmedia-icon {
        color: white;
        margin: 0px;
    }
}

/* * For Tablet Mockup */
@media only screen and (min-width:768px) {
    .logo-image {
        width: 20%;
    }

    .pq {
        display: block;
        background-color: #020202;
        color: white;
        border-radius: 8px;
        padding: 9px;
        margin-left: 20%;
        margin-right: auto;
    }

    .question-buttons {
        display: flex;
        justify-content: space-evenly;

    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #qp {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        margin-left: 10px;
        padding: 10px;
    }


}

/* For Desktop Mockup */
@media only screen and (min-width:958px) {
    .Questions {
        padding-right: 20%;
    }
}